@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #e23e10;
  background-color: #1f2029;
}

.navbar {
  color: #1f2029;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
}

.logo {
  cursor: pointer;
}

.logo h4 {
  font-weight: 600;
  color: #e23e10;
  padding-top: 20px;
}

.logo img {
  max-width: 3rem;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background-color: #ed7829;
  color: #000000;
}
.btn:hover {
  background-color: #000000;
  color: #e23e10;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.main-content {
  display: flex;
  padding-top: 12rem;
  justify-content: center;
  align-items: center;
}

.table {
  width: 800px;
  text-align: center;
  vertical-align: center;
  border-radius: 20px;
}

.table th {
  color: rgb(182, 177, 177);
}
.uil-x {
  text-decoration: none;
  font-size: 25px;
  color: #e23e10;
}

.uil-edit-alt {
  text-decoration: none;
  font-size: 25px;
  color: rgb(51, 51, 241);
}

.uil-x:hover {
  color: #ed7829;
}

.uil-edit-alt:hover {
  color: rgb(16, 16, 224);
}


@media (max-width:720px){
  .table{
    transform: scale(0.8);
  }
}